[Unit]
Description=USB serial device caretaker daemon
Documentation=https://github.com/andycranston/usbserialcaretaker

[Service]
ExecStart=/usr/local/bin/usbserialcaretaker

[Install]
WantedBy=multi-user.target
